[project]
name = "aoc_2021"
version = "0.1.0"
description = "Solutions for Advent of Code 2021"
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]

[tool.setuptools.packages.find]
where = ["."]
